@using Sharpsy.Library.Models
@using Sharpsy.DataAccess.Stores
@using Sharpsy.App.Services
@using Sharpsy.Library.Services
@using Microsoft.AspNetCore.Identity
@page "/room/{roomId:int}/invite"
@inject IRoomStore RoomStore
@inject UserManager<ApplicationUser> UserManager
@inject State State
@inject MailerService MailerService
@inject NavigationManager NavigationManager

<h3>invite</h3>

<EditForm Model="@roomInvitationModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="Email" @bind-Value="roomInvitationModel.ReciverEmail" />

    <button type="submit">Submit</button>
</EditForm>


@code {
    [Parameter] public int roomId { get; set; }

    private RoomInvitationModel roomInvitationModel = new RoomInvitationModel();

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    private async Task HandleValidSubmit()
    {
        var user = await State.GetAuthenticatedUser();
        roomInvitationModel.SenderUserId = user.Id;
        roomInvitationModel.InvitationGUID = Guid.NewGuid().ToString();
        roomInvitationModel.RoomId = roomId;
        roomInvitationModel.InvitationUrl = NavigationManager.BaseUri + "/invitation/" + roomInvitationModel.InvitationGUID;

        var succesfull = await RoomStore.InsertInvitation(roomInvitationModel);
        if (!succesfull)
            return;

        await MailerService.SendRoomInvitation(roomInvitationModel);

    }
}
