@page "/"
@using System.Text
@using Sharpsy.Library.Models
@using System.Text.Json
@using System.Security.Claims
@using Sharpsy.DataAccess.Stores
@using Sharpsy.App.Services 
@using Sharpsy.App.Components
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity;
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IStorage RoomStore
@inject UserManager<ApplicationUser> UserManager;
@inject State State   



@if (rooms != null)
{
    foreach (var room in rooms)
    {
        <div @onclick="@(() => NavigationManager.NavigateTo("room/" + room.RoomId))">
            @room.Title
        </div>
        <hr />
        
    }
}


@code{

    public IEnumerable<RoomModel> rooms { get; set; }

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();

        var user = await State.GetAuthenticatedUser();
        if (user == null)
        {
            NavigationManager.NavigateTo("/notauthorized");
            return;
        }
        rooms = await RoomStore.GetRoomsByUserId(user.Id);
        
    }


}